<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sharearide.research.jnapor.pokedex">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/pokeball"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".data.PokemonProvider"
            android:authorities="com.sharearide.research.jnapor.pokedex" />

        <activity android:name=".MainActivity" />
        <activity android:name=".PokemonTypeList" />
        <activity android:name=".PokemonInfoActivity"/>
    </application>

</manifest>